<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://www.example.org/web-app_2_5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.example.org/web-app_2_5 web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>HelloMyServlet01</servlet-name>
        <servlet-class>cn.itheima.xml.servlet3.HelloMyServlet01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloMyServlet01</servlet-name>
        <url-pattern>/hello01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HelloMyServlet02</servlet-name>
        <servlet-class>cn.itheima.xml.servlet3.HelloMyServlet02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloMyServlet02</servlet-name>
        <url-pattern>/hello02</url-pattern>
    </servlet-mapping>
    
</web-app>